<mat-drawer-container class="container" [hasBackdrop]="false">
  <mat-drawer
    [opened]="true"
    #drawer mode="push">
    <div>
      <mat-nav-list>
        <a routerLinkActive="active" mat-list-item matRipple routerLink="/people-registrations">
          <mat-icon>how_to_reg</mat-icon>
          Registro de pessoas</a>
      </mat-nav-list>
      <mat-nav-list>
        <a routerLinkActive="active" mat-list-item matRipple routerLink="/checkin-registrations">
          <mat-icon>arrow_outward</mat-icon>
          Registros de checkin</a>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="toolbar">
      <img ngSrc="assets/logo_senior.png" height="25" width="25" alt="logo">
      <span>Senior</span>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
